/*
Description: Dragable search
Version: 1.0
Author: Muhammad Ahmed
*/

/*------------------------------------------------------------------
# [Color codes]

# Body  (text): #3a4750
# Heading Color #444444
# Theme Color (link color) #82b541
# Mid grey (sub header) #f4f4f4
# Background Color #f0f0f0
# -------------------------------------------------------------------*/
body {
    margin: 0;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f0f0f0;
}

#container {
    position: absolute;
    width: 500PX;
    height: 60px;
    cursor: move;
    text-align: center;
    color: #fff;
    border: #aaa 1px solid;
    display: block;
}

#container.movable {
    background: #ef0;
    color: #444;
    border: #000 1px solid;
}

/*
	Search bar
*/

input, textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

#searchfield {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}

#searchfield form {
    display: inline-block;
    background: #eeefed;
    padding: 0;
    margin: 0;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0 0 0;
}

#searchfield form .biginput {
    width: 485px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    color: #aeaeae;
    font-weight: normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#searchfield form .biginput:focus {
    color: #858585;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 10px 5px;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}